@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@400;700&family=Source+Code+Pro:ital,wght@0,400;0,500;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-manjari: 'Manjari', sans-serif;
  --font-source-code: 'Source Code Pro', monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-manjari);
  -webkit-font-smoothing: antialiased;
}

.font-manjari {
  font-family: var(--font-manjari);
}

.font-source-code {
  font-family: var(--font-source-code);
}
