<footer class="flex flex-col font-manjari gap-10 items-center max-w-[1500px] pb-20 w-full mx-auto px-[50px]">
  <div class="border-[#4f4f4f] border-t flex items-start justify-between py-[30px] text-2xl tracking-[-1.08px] w-full">
    <a class="text-[#ab0782] underline" href="mailto:annysimone@gmail.com">Email</a>
    <a class="text-[#9b51e0] underline" href="https://www.behance.net/AnnyMamani" target="_blank" rel="noopener noreferrer">Behance</a>
    <a class="text-[#0034ad] underline" href="https://www.linkedin.com/in/amamanigue/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
  </div>
  <p class="text-base text-black tracking-[-0.72px] w-full">© 2026 Anny Mamani · Product Designer. All rights reserved.</p>
</footer>
